@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './styles/navbar.less';
@import './styles/homePage.less';
@import './styles/helpers.less';

@primary-color: #64EEBC;
@white-color: #FFFFFF;
@black-color: #242424;
@gray-color: rgba(255, 255, 255, 1);
@error-color: rgba(255, 0, 0, 1);
@primary-text: 'BebasNeueLight';
@secondary-text: 'BebasNeueRegular';

body {
   margin: 0;
   overflow-x: hidden;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: @primary-text;
   background-color: @black-color;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

@font-face {
   font-family: 'BebasNeueLight';
   src: url('./fonts/BebasNeuePro-Light.woff') format('woff');
   font-weight: 400;
}

@font-face {
   font-family: 'BebasNeueRegular';
   src: url('./fonts/BebasNeuePro-Regular.woff') format('woff');
   font-weight: 400;
}

.ant-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: @secondary-text;
   text-transform: uppercase;
}